n8n/workflows/llm-doc-pipeline-mono.json
{
  "name": "[TEMPLATE] LLM Document Pipeline — Monolithic",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-doc-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "9ba55ed2-f1e6-44d3-b473-9c987e5f3dfe"
    },
    {
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst SECRET = $env[\"N8N_WEBHOOK_SECRET\"];\nconst MAX_SKEW_MS = 300000;\nconst SIG_HEADER = \"x-n8n-signature\";\nconst TS_HEADER = \"x-n8n-timestamp\";\nconst STATIC_HEADER = \"x-static-token\";\nconst hmac = (d) => crypto.createHmac('sha256', SECRET).update(d).digest('hex');\nconst safeEq = (aHex, bHex) => {\n  if (!aHex || !bHex) return false;\n  const a = Buffer.from(String(aHex)), b = Buffer.from(String(bHex));\n  return a.length === b.length && crypto.timingSafeEqual(a, b);\n};\n// TE-16: recover the EXACT signed bytes — rawBody when n8n captured it, else a\n// careful re-stringify of the parsed body (must round-trip byte-identical).\nconst rawOf = (j) => (j.rawBody != null) ? j.rawBody.toString() : JSON.stringify(j.body);\n\nconst items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const raw = rawOf(j);\n  let ok = false;\n  const sig = headers[SIG_HEADER];\n  const ts = headers[TS_HEADER];\n  if (ts) {\n    // timestamp PRESENT -> studio form: replay-guarded HMAC(`${ts}.${body}`).\n    const n = Number(ts);\n    if (sig && Number.isFinite(n) && Math.abs(Date.now() - n) <= MAX_SKEW_MS) {\n      ok = safeEq(hmac(ts + '.' + raw), sig);\n    }\n  } else {\n    // timestamp ABSENT -> harness verify-n8n form: bare-body HMAC(`${body}`),\n    // only the signature header present.\n    ok = safeEq(hmac(raw), sig);\n  }\n  j.__authok = ok;\n}\nreturn items;"
      }
    },
    {
      "id": "auth-gate",
      "name": "Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-gate-cond",
              "leftValue": "={{ $json.__authok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ack-202",
      "name": "Ack 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"accepted\": true, \"request_id\": ($json.body && $json.body.request_id) || $json.request_id } }}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "analyse",
      "name": "Analyse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Title",
              "value": "STUDIO template"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"anthropic/claude-sonnet-4-6\", temperature: 0.2, max_tokens: 4096, messages: ([{ role: \"user\", content: \"Analyse: \" + JSON.stringify($json.body || {}) }]) }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "cost-log-spend-flag",
      "name": "Cost Log + Spend Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const BUDGET = Number($env['LLM_DAILY_BUDGET_USD'] || '5');\nconst items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const t = (j.body ?? '').toString();\n  let parsed = {};\n  try { parsed = t.trim() ? JSON.parse(t) : {}; } catch (e) { parsed = {}; }\n  const usage = (parsed && parsed.usage) || {};\n  const inTok = Number(usage.prompt_tokens || 0);\n  const outTok = Number(usage.completion_tokens || 0);\n  // Coarse per-stage estimate; the studio reconciles exact spend out of band.\n  const stageCost = (inTok + outTok) / 1e6;\n  j.__cost = (Number(j.__cost) || 0) + stageCost;\n  j.__analysis = parsed;\n  j.__spend_ok = j.__cost <= BUDGET;\n}\nreturn items;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "daily-spend-guard",
      "name": "Daily Spend Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1320,
        -120
      ],
      "parameters": {
        "filterType": "manual",
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "daily-spend-guard-cond",
              "leftValue": "={{ $json.__spend_ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "map-scrape-hosted",
      "name": "Map / Scrape (hosted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPE_SERVICE_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target: ($json.body && $json.body.target) || null }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "combine",
      "name": "Combine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const t = (j.body ?? '').toString();\n  let mapped = {};\n  try { mapped = t.trim() ? JSON.parse(t) : {}; } catch (e) { mapped = {}; }\n  j.__mapped = mapped;\n  j.__combined = { analysis: j.__analysis || {}, mapped };\n}\nreturn items;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "compose",
      "name": "Compose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1980,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Title",
              "value": "STUDIO template"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"anthropic/claude-sonnet-4-6\", temperature: 0.2, max_tokens: 4096, messages: ([{ role: \"user\", content: \"Compose a document from: \" + JSON.stringify($json.__combined || {}) }]) }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "final-cost-log",
      "name": "Final Cost Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const t = (j.body ?? '').toString();\n  let parsed = {};\n  try { parsed = t.trim() ? JSON.parse(t) : {}; } catch (e) { parsed = {}; }\n  const usage = (parsed && parsed.usage) || {};\n  const stageCost = (Number(usage.prompt_tokens || 0) + Number(usage.completion_tokens || 0)) / 1e6;\n  j.__cost = (Number(j.__cost) || 0) + stageCost;\n  j.__result = { document: parsed, combined: j.__combined || {}, cost_usd: j.__cost };\n}\nreturn items;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "insert-result",
      "name": "Insert Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2420,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/llm_documents",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.__result) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "reject-401",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid or missing signature\" } }}",
        "options": {
          "responseCode": 401
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Auth Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Gate": {
      "main": [
        [
          {
            "node": "Ack 202",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack 202": {
      "main": [
        [
          {
            "node": "Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse": {
      "main": [
        [
          {
            "node": "Cost Log + Spend Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Log + Spend Flag": {
      "main": [
        [
          {
            "node": "Daily Spend Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Spend Guard": {
      "main": [
        [
          {
            "node": "Map / Scrape (hosted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map / Scrape (hosted)": {
      "main": [
        [
          {
            "node": "Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine": {
      "main": [
        [
          {
            "node": "Compose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose": {
      "main": [
        [
          {
            "node": "Final Cost Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Cost Log": {
      "main": [
        [
          {
            "node": "Insert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
