n8n/workflows/outbound-verdict-callback.json
{
  "name": "[TEMPLATE] Outbound Dispatch + Verdict Callback",
  "nodes": [
    {
      "id": "when-called",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "push-to-webapp",
      "name": "Push To Webapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBAPP_CALLBACK_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload || $json) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "read-verdict-map",
      "name": "Read Verdict + Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const t = (j.body ?? '').toString();\n  let res = {};\n  try { res = t.trim() ? JSON.parse(t) : {}; } catch (e) { res = {}; }\n  const verdict = (res && res.verdict) || 'unknown';\n  // Map the verdict to the next action.\n  const action = verdict === 'approved' ? 'advance' : verdict === 'changes' ? 'retry' : 'hold';\n  j.__verdict = verdict;\n  j.__action = action;\n}\nreturn items;"
      },
      "alwaysOutputData": true
    },
    {
      "id": "route-by-action",
      "name": "Route By Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-by-action-r0",
                    "leftValue": "={{ $json.__action }}",
                    "rightValue": "retry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "retry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-by-action-r1",
                    "leftValue": "={{ $json.__action }}",
                    "rightValue": "advance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "advance"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "re-enter-retry",
      "name": "Re-enter (retry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PIPELINE_REENTRY_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ verdict: $json.__verdict, payload: $json.payload || {} }) }}"
      },
      "alwaysOutputData": true,
      "notes": "PAT-4 guard: body may be an empty HTTP 200 — never JSON.parse blind. Use: const t=(response.body??'').toString(); t.trim()?JSON.parse(t):[]"
    },
    {
      "id": "re-enter-advance",
      "name": "Re-enter (advance)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        900,
        60
      ],
      "parameters": {
        "source": "database",
        "workflowId": "={{ $env.PIPELINE_NEXT_WORKFLOW_ID }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Push To Webapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push To Webapp": {
      "main": [
        [
          {
            "node": "Read Verdict + Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Verdict + Map": {
      "main": [
        [
          {
            "node": "Route By Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Action": {
      "main": [
        [
          {
            "node": "Re-enter (retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-enter (advance)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
