n8n/workflows/signed-webhook-base.json
{
  "name": "[TEMPLATE] Signed Webhook → Ack → Process → Respond",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "signed-webhook-base",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "22183223-f9a6-4c69-9b8c-981d68ce9c07"
    },
    {
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst SECRET = $env[\"N8N_WEBHOOK_SECRET\"];\nconst MAX_SKEW_MS = 300000;\nconst SIG_HEADER = \"x-n8n-signature\";\nconst TS_HEADER = \"x-n8n-timestamp\";\nconst STATIC_HEADER = \"x-static-token\";\nconst hmac = (d) => crypto.createHmac('sha256', SECRET).update(d).digest('hex');\nconst safeEq = (aHex, bHex) => {\n  if (!aHex || !bHex) return false;\n  const a = Buffer.from(String(aHex)), b = Buffer.from(String(bHex));\n  return a.length === b.length && crypto.timingSafeEqual(a, b);\n};\n// TE-16: recover the EXACT signed bytes — rawBody when n8n captured it, else a\n// careful re-stringify of the parsed body (must round-trip byte-identical).\nconst rawOf = (j) => (j.rawBody != null) ? j.rawBody.toString() : JSON.stringify(j.body);\n\nconst items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const headers = j.headers || {};\n  const raw = rawOf(j);\n  let ok = false;\n  const sig = headers[SIG_HEADER];\n  const ts = headers[TS_HEADER];\n  if (ts) {\n    // timestamp PRESENT -> studio form: replay-guarded HMAC(`${ts}.${body}`).\n    const n = Number(ts);\n    if (sig && Number.isFinite(n) && Math.abs(Date.now() - n) <= MAX_SKEW_MS) {\n      ok = safeEq(hmac(ts + '.' + raw), sig);\n    }\n  } else {\n    // timestamp ABSENT -> harness verify-n8n form: bare-body HMAC(`${body}`),\n    // only the signature header present.\n    ok = safeEq(hmac(raw), sig);\n  }\n  j.__authok = ok;\n}\nreturn items;"
      }
    },
    {
      "id": "auth-gate",
      "name": "Auth Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-gate-cond",
              "leftValue": "={{ $json.__authok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ack-202",
      "name": "Ack 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"accepted\": true, \"request_id\": ($json.body && $json.body.request_id) || $json.request_id } }}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "process",
      "name": "Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Placeholder process step — concrete templates replace this with their work.\n// Receives the authenticated request; passes it through untouched.\nconst items = $input.all();\nfor (const it of items) { it.json.__processed = true; }\nreturn items;"
      }
    },
    {
      "id": "sign-response",
      "name": "Sign Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -120
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst SECRET = $env[\"N8N_WEBHOOK_SECRET\"];\nconst items = $input.all();\nfor (const it of items) {\n  const j = it.json;\n  const requestId = (j.body && j.body.request_id) || j.request_id || null;\n  const body = { ok: true, request_id: requestId };\n  const payload = JSON.stringify(body);\n  j.__body = body;\n  j.__ts = String(Date.now());\n  j.__sig = crypto.createHmac('sha256', SECRET).update(payload).digest('hex');\n}\nreturn items;"
      }
    },
    {
      "id": "respond-signed",
      "name": "Respond Signed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        -120
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.__body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "x-n8n-signature",
                "value": "={{ $json.__sig }}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "reject-401",
      "name": "Reject 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid or missing signature\" } }}",
        "options": {
          "responseCode": 401
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Auth Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Gate": {
      "main": [
        [
          {
            "node": "Ack 202",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack 202": {
      "main": [
        [
          {
            "node": "Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process": {
      "main": [
        [
          {
            "node": "Sign Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Response": {
      "main": [
        [
          {
            "node": "Respond Signed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
